{% macro listSources(sources_list) %}
<div class="row" id="row">
  {% for source in sources_list %}
  <div class="col-lg-4">
    <a href="/articles/{{source.id}}" target="_blank">
      <div class="sources">
        <li>
          <div class="heading">{{source.name|truncate(20)}}</div>
          <div class="sub-heading">{{source.description|truncate(100)}}</div>
        </li>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

{% endmacro %} {% macro listArticles(articles_list) %} {% for article in
articles_list %}
<div class="articles">
  <li>
    <div>
      <img src="{{article.urlToImage}}" alt="" />
    </div>
    <p>{{article.title}}</p>
    <p>{{article.description}}</p>
    <p>{{article.author}}</p>
    <p>{{article.publishedAt}}</p>
    <a href="{{article.url}}">Read More ...</a>
  </li>
</div>
{% endfor %} {% endmacro %}
